{% extends "base.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  {% for feedback in feedbacks %}
  <tbody>
    <tr>
      <th scope="row">{{ feedback.id }}</th>
      <td>{{ feedback.name }}</td>
      <td>{{ feedback.email }}</td>
      <td>{{ feedback.message }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}